* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > * {
  padding: 0 50px;
}

body {
  font-size: 16px;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 0;
}

input[type="search"] {
  border-radius: 24px;
  border: 1px solid rgb(218, 220, 224);
  padding: 15px 30px;
  width: 40%;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.logo {
  width: 82px;
  margin: 0px 30px;
}

.nav-links li {
  list-style-type: none;
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: rgb(95, 99, 104);
  margin: 0 10px;
  font-size: 14px;
}

.btn {
  background-color: transparent;
  color: rgb(32, 33, 36);
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(241, 243, 244);
}

.register {
  background-color: rgb(32, 33, 36);
  color: white;
}

.register:hover {
  background-color: rgb(32, 33, 36);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px,
    rgba(60, 64, 67, 0.15) 0px 6px 10px 4px;
}

.nav-right {
  width: 30%;
}
