* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > * {
  padding: 0 58px;
}

body {
  font-size: 16px;
  font-family: Inter, sans-serif;
  margin-top: 70px;
}

nav,
.nav-left,
.heading,
.card,
.join-container {
  display: flex;
}

.card,
.join-container {
  flex-direction: column;
}

nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 0;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

input[type="search"] {
  border-radius: 24px;
  border: 1px solid rgb(218, 220, 224);
  padding: 15px 30px;
  width: 45%;
}

.nav-left {
  align-items: center;
  margin-left: 30px;
}

.logo {
  width: 82px;
  margin: 0px 30px;
}

.nav-links li {
  list-style-type: none;
  display: inline;
}

.nav-links a,
.datasets-container a {
  text-decoration: none;
  color: rgb(95, 99, 104);
  margin: 0 10px;
  font-size: 14px;
}

.btn {
  background-color: transparent;
  color: rgb(32, 33, 36);
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  min-width: 80px;
}

.btn:hover {
  background-color: rgb(241, 243, 244);
}

.black {
  background-color: rgb(32, 33, 36);
  color: white;
}

.black:hover {
  background-color: rgb(32, 33, 36);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px,
    rgba(60, 64, 67, 0.15) 0px 6px 10px 4px;
}

.hero-left {
  width: 29%;
  padding-top: 152px;
}

.hero-heading {
  font-size: 36px;
  color: rgb(32, 33, 36);
  line-height: 44px;
  font-weight: 400;
  margin-bottom: 16px;
}

.hero-description {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
}

#hero-video {
  width: 65%;
  margin-top: 48px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px,
    rgb(60 64 67 / 15%) 0px 4px 8px 3px;
  float: right;
}

.hero {
  gap: 30px;
  margin-bottom: 128px;
  overflow: hidden;
}

.google {
  letter-spacing: 1.25px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  height: 48px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 24px;
}

.showcase > h3 {
  color: rgb(32, 33, 36);
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 48px;
}

.underlined {
  box-shadow: rgb(121 217 255) 0px -8px 0px inset;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.chip {
  color: rgb(32, 33, 36);
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgb(199, 200, 201);
  cursor: pointer;
  padding: 5px 16px;
  margin: 0 5px;
}

.chips-container {
  margin-bottom: 30px;
}

.datasets-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin-bottom: 128px;
}

.dataset img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  min-height: 128px;
  object-fit: cover;
}

.title,
.author {
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.title {
  color: rgb(32, 33, 36);
}

.author {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.activities {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100px 1fr 100px 1fr;
  column-gap: 16px;
  margin-bottom: 64px;
}

.heading {
  align-items: center;
  grid-column: span 8;
}

.heading > h5,
.join-container > h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.card {
  grid-column-end: span 2;
  border-right: 1px solid rgb(199, 200, 201);
  padding-right: 8px;
  height: 216px;
  align-items: flex-start;
}

.card > p {
  margin-top: 16px;
  font-size: 14px;
  color: rgb(32, 33, 36);
  line-height: 20px;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.overlap {
  margin-right: -12px;
  border: 1px solid white;
}

.avatars {
  margin-top: 20px;
}

.no-border {
  border: none;
}

.youtube-video,
.join-container {
  margin-bottom: 160px;
}

.join-container {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img-community-avatars {
  width: 100%;
  margin: 24px 0;
}
